/* Parcel이 import 를 인식하기 위해서 ~를 경로 앞에 붙여줘야 함 */
@import url("~css/pages/home.css");
@import url("~css/pages/about.css");

@import url("~css/components/item.css");
@import url("~css/components/detail.css");
@import url("~css/components/search.css");
@import url("~css/components/nav.css");
@import url("~css/components/modal.css");

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}
#root {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
  /* border: 7px solid black; */
}
#list {
  list-style: none;
}
