.detail-card {
  /* border: 1px solid yellow; */
  display: inline-block;
  width: 900px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.detail-main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.detail-info {
  flex: 1;
  box-sizing: border-box;
}
.detail-cover {
  width: 100%;
  min-width: 100%;
  height: auto;
}
.detail-title {
  margin: 0;
  padding: 5px;
}
.detail-trailer {
  text-decoration: none;
  color: orange;
}
.detail-trailer:hover {
  font-size: 1.2rem;
}
.detail-down-arrow {
  /* border: 1px solid grey; */
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-left: auto; /* 요소를 우측으로 붙임 */
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
  display: none;
}
.detail-down-arrow img {
  width: 100%;
  height: 100%;
}
.detail-down-arrow:hover {
  transform: scale(1.2);
}

.detail-summary {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
  text-align: justify;
  border-left: 1px solid grey;
  opacity: 0.7;
}

.detail-torrent {
  float: right;
  margin-top: 20px;
}
.detail-home:hover,
.detail-torrent:hover {
  color: orange;
}
.detail-genres {
  padding: 10px;
  border-top: 1px solid grey;
  opacity: 0.7;
}

@media (max-width: 780px) {
  .detail-card {
    width: 90%;
  }
}
@media (max-width: 620px) {
  .detail-card {
    width: 75%;
    /* border: 1px solid red; */
  }
  .detail-main {
    flex-direction: column;
  }
  .detail-title {
    padding: 2px;
    font-size: 0.9rem;
  }
  .detail-trailer {
    font-size: 0.9rem;
  }
  .detail-down-arrow {
    display: block;
  }
  .detail-summary {
    /* border: 1px solid blue; */
    font-size: 0.8rem;
    display: none;
    /* border-top: 1px solid grey; */
    border-left: 1px solid white;
    /* overflow: auto; */
  }
  .detail-genres {
    width: 60%;
    margin: auto;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .show-summury {
    display: block;
  }
}

@media (max-width: 330px) {
  .detail-card {
    width: 70%;
    /* border: 1px solid red; */
  }
}
