.modal-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* 헤더보다 z-index가 커야 전부 덮을수 있음 */
  background: black;
  opacity: 0.9;
  display: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
