.nav-btn,
.nav-wish-list {
  all: unset;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.4s all;
}

.nav-btn:hover,
.nav-wish-list:hover {
  color: white;
  border: none;
}

.nav-btn {
  width: 120px;
  border: 2px solid skyblue;
  background: black;
  color: skyblue;
}
.nav-wish-list {
  width: 150px;
  border: 2px solid red;
  background: black;
  color: red;
}

.nav-btn:hover {
  background-color: skyblue;
}

.nav-wish-list:hover {
  background-color: red;
}

@media (max-width: 760px) {
  .nav-btn,
  .nav-wish-list {
    width: 70px;
    font-size: 0.9rem;
    border-radius: 10px;
    margin: 4px;
    padding: 4px;
  }
}

@media (max-width: 550px) {
  .nav-btn,
  .nav-wish-list {
    width: 55px;
    height: 30px;
    font-size: 0.7rem;
    border-radius: 5px;
    padding: 1px;
    margin: 5px;
  }
}
