.search-box {
  width: 40%;
  height: 10px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  outline: none;
  color: white;
  font-size: 1.1rem;
  background: skyblue;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
}
.search-box::placeholder {
  color: white;
}

@media (max-width: 550px) {
  .search-box::placeholder {
    font-size: 0.7rem;
  }
}
