.about-page {
  margin-top: 70px;
}

.about-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  z-index: 1;
  /* border: 1px solid red; */
  background-color: black;
  opacity: 0.95;
}
