.about-page {
  width: 100%;
  height: 100vh;
}

.about-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
  background-color: black;
  opacity: 0.95;
}

.about-detail {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
