.home-page {
  margin-top: 70px; /* 네비게이션 높이만큼 뛰워줘야함*/
}

.home-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  z-index: 1;
  /* border: 1px solid red; */
  background-color: black;
  opacity: 0.95;
}

.home-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
